###################################
# Physical constraints file (pcf) #
# for iCE40HX8K-CT256             #
###################################


### Clock
set_io --warn-no-port clk J3

set_io --warn-no-port adc_clk[0] C16 # adc1 clk
set_io --warn-no-port adc_sd[0]  D16  # adc1 sdo
set_io --warn-no-port adc_cs[0]  E16  # adc1 cs

set_io --warn-no-port adc_clk[1] F16 # adc2 clk
set_io --warn-no-port adc_sd[1]  G16  # adc2 sdo
set_io --warn-no-port adc_cs[1]  H16  # adc2 cs

set_io --warn-no-port adc_clk[2] G15 # adc3 clk
set_io --warn-no-port adc_sd[2]  F15  # adc3 sdo
set_io --warn-no-port adc_cs[2]  E14  # adc3 cs

set_io --warn-no-port adc_clk[3] D15 # adc4 clk
set_io --warn-no-port adc_sd[3]  D14  # adc4 sdo
set_io --warn-no-port adc_cs[3]  B16  # adc4 cs

### LEDs
set_io --warn-no-port LED[0] B5
set_io --warn-no-port LED[1] B4
set_io --warn-no-port LED[2] A2
set_io --warn-no-port LED[3] A1
set_io --warn-no-port LED[4] C5
set_io --warn-no-port LED[5] C4
set_io --warn-no-port LED[6] B3
set_io --warn-no-port LED[7] C3

### Reset
set_io --warn-no-port RSTn_i C16 #-pullup yes

### UART (FTDI Channel B)
set_io --warn-no-port RS232_RX_i B10
set_io --warn-no-port tx B12
set_io --warn-no-port RTSn       B13
set_io --warn-no-port CTSn       A15
set_io --warn-no-port dtr       A16
set_io --warn-no-port DSRn       B14
set_io --warn-no-port DCDn       B15

### Pins
# set_io --warn-no-port D16_o D16

set_io --warn-no-port J2[0] B16
set_io --warn-no-port J2[1] D14
set_io --warn-no-port J2[2] D15
set_io --warn-no-port J2[3] E14
set_io --warn-no-port J2[4] F15
set_io --warn-no-port J2[5] G15
set_io --warn-no-port J2[6] H14
set_io --warn-no-port J2[7] F14
set_io --warn-no-port J2[8] J14
set_io --warn-no-port J2[9] K16
set_io --warn-no-port J2[10] L16
set_io --warn-no-port J2[11] M15
set_io --warn-no-port J2[12] P15
set_io --warn-no-port J2[13] R15

#set_io --warn-no-port J2[14] C16 # adc1 clk
#set_io --warn-no-port J2[15] D16 # adc1 sdo
#set_io --warn-no-port J2[16] E16 # adc1 cs
#set_io --warn-no-port J2[17] F16
#set_io --warn-no-port J2[18] G16
#set_io --warn-no-port J2[19] H16
set_io --warn-no-port J2[20] J15
set_io --warn-no-port J2[21] G14
set_io --warn-no-port J2[22] K14
set_io --warn-no-port J2[23] K15
set_io --warn-no-port J2[24] M16
set_io --warn-no-port J2[25] N16
set_io --warn-no-port J2[26] P16

# set_io --warn-no-port J1[0] A1
# set_io --warn-no-port J1[1] B3
# set_io --warn-no-port J1[2] C3
# set_io --warn-no-port J1[3] C4
# set_io --warn-no-port J1[4] C5
set_io --warn-no-port J1[5] C6
set_io --warn-no-port J1[6] C7
set_io --warn-no-port J1[7] A7
set_io --warn-no-port J1[8] B9
set_io --warn-no-port J1[9] C9
set_io --warn-no-port J1[10] B10
set_io --warn-no-port J1[11] B11
set_io --warn-no-port J1[12] B14
set_io --warn-no-port J1[13] B15

#set_io --warn-no-port J1[14] A2
#set_io --warn-no-port J1[15] B4
#set_io --warn-no-port J1[16] B5
set_io --warn-no-port J1[17] A5
set_io --warn-no-port J1[18] B6
set_io --warn-no-port J1[19] A6
set_io --warn-no-port J1[20] B7
set_io --warn-no-port J1[21] B8
set_io --warn-no-port J1[22] A9
set_io --warn-no-port J1[23] A10
set_io --warn-no-port J1[24] A11
set_io --warn-no-port J1[25] B12
set_io --warn-no-port J1[26] B13
set_io --warn-no-port J1[27] A15
set_io --warn-no-port J1[28] A16
